@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar (opsional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: #111827;
}
