@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: #111827;
}

@keyframes toast-slide-down {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-sonner-toast] {
  animation: toast-slide-down 0.4s ease forwards;
}
